
<!-- 

 <input type="hidden" name="id" value="{{ product.variants.first.id }}" v-model="items.id" />
        <input min="1" type="number" v-model="items.quantity" id="quantity" name="quantity" value="1"/>
        <button  type="button"
        id="{{product.id}}"
        @click="addToCarts"
        name="add"
        data-submit-button
          class="btn" @click="addToCarts" >Add to cart</button> -->



          